@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
::-webkit-scrollbar {
    width: 20px;
  }
  ::-webkit-scrollbar-track {
    background-color: black;
  }
  ::-webkit-scrollbar-thumb {
    background-color:white;
  }
  ::-webkit-scrollbar-thumb {
    /* background-color: #d6dee1; */
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }
        
  ::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
  }
body {
    margin: 0;
    padding-top: 50px;
    font-family: Arial, sans-serif;
    color: white;
    background-image: url('blue-brick-wall.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    height: 50px;
    z-index: 1; 
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.users-container {
    padding: 20px;

    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent black overlay */
    backdrop-filter: blur(10px);
    /* Blur effect */
    border-radius: 20px;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 50px; /* Height of the navbar */
    position: relative;
    z-index: 0; /* Set a lower z-index value */
}

.users-list {
   
    padding: 20px;
}

.user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
   
    padding: 20px 0;
    transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;
}

.user:first-child {
    border-top: none;
    border-bottom: 2px solid white;
    padding-top:0;  
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 25px;
}




.user>div {
    flex: 1;
}
.user:not(:first-child):hover {
    background-color: #f9f9f9;
    transform: scale(1.05);
    z-index: 1;
    box-shadow: 0 0 20px rgba(13, 225, 239, 0.5);
    color: #0de1ef; /* Change text color to #0de1ef */
    text-shadow: 0 0 3px #0de1ef, 0 0 6px #0de1ef, 0 0 9px #0de1ef; /* Adjusted text-shadow */
    border-radius: 10px;
}




.admin-text {
    font-family: 'Monoton';
    font-size: 40px;
    /* Increased font size */
    font-weight: bold;
    /* Bold font weight */
    opacity: 0;
    animation: fadeInFromLeft 1s ease-in-out forwards;
    /* Apply animation */
}

@keyframes fadeInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.footer {
    text-align: center;
    margin-top: 20px;
    color: white;
    text-decoration: underline;
    padding-bottom: 10px;
}

.heart::before {
    content: "\2764"; /* Unicode for red heart symbol */
    color: red; /* Set the color of the heart symbol to red */
}
